@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px !important;
}
#navbar, #hero, #footer  {
  background: #5031a9 !important;
}

.navbar-brand {
  font-family: 'Neucha', cursive;
  font-weight: bold;
  color: #fff !important;
  opacity: 0.75;
}
#navbar .nav-link {
  color: #fff;
  opacity: .8;
} 

#navbar .nav-link:hover {
  opacity: 1;
}
.navbar-toggler, .navbar-toggler:focus,
.navbar-toggler:active
{
    outline: none !important;
    border: none;
    box-shadow: none !important;
    color: #fff !important;
    opacity: 0.75;
}

.navbar {
  min-height: 80px !important;
}

#skills{
  background:rgba(242, 159, 1, 1);
}
#projects{
  background:#5031a9;
}

#projects .btn-primary {
  background: #5031a9;
  border: 1px solid #5031a9;
}
#projects .btn-primary:hover {
  background: #3a247b;

}
#projects .btn-outline-primary {
  background: #fff;
  color: #5031a9;
  border: 1px solid #5031a9;
}
#projects .btn-outline-primary:hover {
  background: #3a247b;
  color: #fff;
}


#footer {
  min-height: 10vh !important;
  background-color: #f19e00 !important;
}

#footer .link-secondary, #footer .display-5{
  /* color: #fff !important; */
  color: #000 !important;
  opacity: .7;
}
